* {
  font-family: 'Roboto', sans-serif;
  margin-left: 0; }

body {
  margin: 0; }

/* Color White*/
.main__div__button, .div__third a {
  color: #ffffff; }

/* Color Green*/
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 15vw; }
  .nav a {
    text-decoration: none;
    color: #8F9789;
    padding: 0 7px; }
  .nav img {
    height: 20px;
    width: 20px; }
  .nav__left {
    background-color: #adc743;
    padding: 0 30px; }
    .nav__left__p {
      text-align: center; }
  .nav__img__person {
    padding: 0 0 0 40px; }

.main__div {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/veggies.jpg);
  background-attachment: fixed;
  background-size: cover; }
  .main__div__child {
    width: 25vw;
    height: 100vh;
    margin-left: 15vw;
    background: #ffffff;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .main__div__button {
    margin-top: 15vh;
    width: 15vw;
    height: 10vh;
    border: none;
    background-color: #adc743;
    position: absolute;
    font-size: 16px; }

.main__div__child__h1, .main__div__button {
  margin: 0 25px; }

.div__second {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw; }
  .div__second__one {
    height: 75vh;
    width: 25vw;
    background-image: url(../images/1e47b2_65c22d9dd665412384741e6b0794c447.webp);
    background-repeat: no-repeat;
    background-size: cover; }
  .div__second__two {
    height: 75vh;
    width: 45vw;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .div__second__two a {
      margin-top: 10%; }

.div__second__two h2, .div__second__two h4, .div__second__two a, .div__third__two h2, .div__third__two h4, .div__fifth__two h2, .div__fifth__two h4 {
  margin-right: 20%;
  margin-left: 20%; }

.div__third {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw; }
  .div__third a {
    text-decoration: none; }
  .div__third__one {
    height: 25vh;
    width: 12vw;
    background-color: #aca298;
    font-size: 25px; }
  .div__third__two {
    height: 40vh;
    width: 32vw;
    background-color: #adc743;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .div__third__one:hover {
    background-color: #7E7872; }

.div__fourth {
  margin-left: 15vw; }

.div__fifth {
  display: flex;
  justify-content: flex-end;
  margin-right: 13vw; }
  .div__fifth__one {
    height: 25vh;
    width: 12vw;
    background-color: #adc743; }
  .div__fifth__two {
    height: 50vh;
    width: 30vw;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.div__third__one, .div__fifth__one {
  display: flex;
  justify-content: center;
  align-items: center; }

.div__sixth {
  margin-right: 43vw;
  margin-top: -12vh;
  display: flex;
  justify-content: flex-end; }

footer div {
  margin-bottom: 60px; }

.div__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .div__footer__line {
    width: 2px;
    height: 15vh;
    background-color: #ffffff; }
  .div__footer__a {
    margin-top: 60px; }
  .div__footer__adress p {
    margin: 0; }

.div__footer__adress, .div__footer__a, .div__footer__id {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px; }

.footer__copyright {
  background-image: url(../images/woodbg2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

footer div p {
  margin-top: -80px; }

