<div class="footer__copyright">
			<div class="div__footer">
				<div class="div__footer__adress">
					<p>500 Terry Francois Street</p>
					<p>San Francisco, CA 94158</p>
					<p>info@mysite.com</p>
				</div>
				<div class="div__footer__line">
					
				</div>
				<div class="div__footer__id">
					<h3>Alison Knight</h3>
					<h5>Nustritionist</h5>
				</div>
				<div class="div__footer__line">
					
				</div>
				<div class="div__footer__a">
					<h5>Tel: 864592563</h5>
					<div>
						<a href=""><img src="assets\images\fbw.webp"></a>
						<a href=""><img src="assets\images\twitterw.webp"></a>
						<a href=""><img src="assets\images\pw.webp"></a>
						<a href=""><img src="assets\images\igw.webp"></a>
					</div>
				</div>
			</div>
			<p class="copyright">©2023 by Alison Knight. Proudly created with Wix.com</p>
		</div>